@font-face {
	font-family: 'fb'; 
	src: url(/src/fonts/Montserrat-SemiBold.ttf); 
}
@font-face {
	font-family: 'fr'; 
	src: url(/src/fonts/Montserrat-Regular.ttf); 
}

body{
    margin: 0;
    padding: 0;
    font-family: 'fr';
    background-image: url(/src/img/fon.png); 
}

.container{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.work_1{
    width: 50vw;
    height: 100vh;
    background-color: #98AEC7;
    background-image: url(/src/img/p.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 45vh;
    
}

.work_1_box{
    max-width: 570px;
    margin: 0 auto;
    padding: 0 15px;
}

.work_box_title{
font-size: 58px;
color: #fff;
font-family: 'fb'; 
}

.work_box_text{
font-size: 18px;
color: #fff;
max-width: 400px;

}
.work_box_text_1{

    font-family: 'fb'; 
}

.work_box_text_2{
font-size: 16px;

}

.m_auto{
margin: 0 0 0 auto;
}

.work_box_button_link{
    text-align: center;
    text-decoration: none;
    color: #000;
    width: 255px;
    height: 50px;
}
.work_box_button{
    margin-top: 20px;
    width: 255px;
    height: 35px;
    background-color: #fff;
    border-radius: 30px;
    padding-top: 15px;
}

.work_2{
    width: 50vw;
    height: 50vh;
    background-color: #9FC798;
    background-image: url(/src/img/p1.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 30vh;
    text-align: end;
    
}


.work_2_box{
    max-width: 570px;
    margin: 0 auto;
    padding: 0 15px;
}

.work_3{
    width: 50vw;
    height: 50vh;
    background-color: #D4B973;
    background-image: url(/src/img/p2.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 38vh;
    
}


.work_3_box{
    max-width: 570px;
    margin: 0 auto;
    padding: 0 15px;
}

@media (max-width: 960px){
    .container{flex-direction: column;
    }
    .work_1{
        width: 100vw;
        height: 80vh;
        background-size: 32vh;
    }

    .work_2{
        width: 100vw;
        height: 80vh;
    }

    .work_3{
        width: 100vw;
        height: 80vh;
    }

    .work_box_2_text{
    }
}

.form_box{
    background-color: #ffffff;
    margin: 0 auto;
    max-width: 880px;
    padding: 30px 20px;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    margin-bottom: 100px;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.input{
    margin: 10px 0;
    width: 540px;
    height: 40px;
    border: 1px solid #fff;
    border-bottom: 1px solid #555555;
}

.button{
    margin-top: 30px;
width: 355px;
height: 55px;
border-radius: 30px;
font-size: 20px;
background-color: #fff;
}

.application{
    text-align: center;
}

.application_title{
    font-size: 48px;
}

.application_text{
    font-size: 28px;
}

.error_box{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1250px;
    padding-top:20vh;
}

.error_box_mine_number{
    display: flex;
    width: 800px;
    justify-content: space-between;
}

.error_box_mine_link{
    display: flex;
}

.image_error{
    width: 180px;
    margin: 0 10px;
}

.error_logo{
    width: 400px;
}

.error_box_mine_text_p{
    font-size: 50px;
}

.error_box_mine_link{
    display: flex;
    align-items: baseline;
}


.error_box_mine_link_r{
    display: flex;
    flex-direction: column;
    margin-left: 50px;

}

.error_box_mine_link_l{
    display: flex;
    justify-content: space-between;
}
 
.error_box_mine_link_l_p{
    font-size: 30px;
}

.error_box_a{
text-decoration: none;
font-size: 24px;
color: #000;
}


.login_box{
    max-width: 900px;
margin: 0 auto;
padding-top: 14vh;
display: flex;
justify-content: center;
flex-wrap: wrap;
}

.login_title{
    text-align: center;
    font-size: 20px;
}

.login_box_left{
display: flex;
flex-direction: column;
justify-content: center;
width: 365px;
min-height: 450px;
border: 1px solid #000;
}

.form_login{
    display: flex;
    flex-direction: column;
    width: 255px;
    margin: 0 auto;

}

.input_login{
margin: 10px 0;
border: none;
border-bottom: 1px solid #000;
padding-bottom: 5px;
}


.input_login_e{
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid #f70c0c;
    color:#f70c0c;
    padding-bottom: 5px;
    }

.button_login{
margin-top: 20px;
height: 42px;
color: #fff;
background-color: #000;
border: none;
}


.login_box_right{
background-color: #000;
color: #fff;
width: 365px;
min-height: 450px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.login_box_right_img{
width: 115px;
margin-bottom: 10px;
}

.login_box_right_text{
width: 215px;
text-align: center;
font-size: 18px;
}

.login_box_right_button{
    margin-top: 30px;
    background-color: #fff;
    color: #000;
    width: 200px;
    height: 30px;
    text-align: center;
    padding-top: 10px;
    text-decoration: none;

}











.lc_work_zone {
}

.lc_menu_left {
    padding-top: 40px;
    padding-bottom: 40px;
    width: 200px;
    height: 100vh;
    background-color: #353A57;
    box-shadow: 4px 4px 8px rgba(181, 181, 181, 0.40);
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.lc_menu_left_item {}

.lc_menu_left_item_a {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 90px;
    text-decoration: none;
    color: #ffffff;
}

.lc_menu_left_item_a_border {
    display: flex;
    align-items: center;
}

.lc_menu_left_item_a_border:hover {
    background-color: #616e9b49;
    transition: .5s;
}

.lc_menu_left_item_a_border:active {
    background-color: #616e9b;
    color: #fff;
}

.lc_menu_left_item_p {
    margin: 10px auto;
    width: 170px;

}

.lc_panel_up {
    margin-left: 201px;
    width: calc(100% - 201px);
    height: 60px;
    padding: 0 20px;
    display: flex;
    background-color: #FBFCFF;
}

.lc_panel_up_left{
width: 70%;
height: 50px;
display: flex;

}

.lc_panel_up_right{
width: 30%;
height: 50px;
display: flex;
justify-content: flex-end;
}

* {
    box-sizing: border-box;
}


.lc_main_zone {
    margin-left: 201px;
    width: calc(100% - 201px);
    background-color: #EBEEF5;
    height: 100vh;
    padding: 40px;
}

.lc_panel_up_item{
margin: 0 30px;
}

.lc_panel_up_a{
text-decoration: none;
color: #616e9b;
}

.lc_panel_up_a_border:hover{
border-bottom: solid 1px #616E9B;
transition: .5s;


}

.lc_panel_up_a_border{
    height: 20px;

}

.lc_panel_up_p{

}
.lc_menu_left_item_up{

}
.lc_menu_left_item_bottom{
}

.lc_main_zone_device_box{
    display: flex;
    flex-wrap: wrap;
}

.lc_main_zone_device_item_parebt{
    margin: 15px;
    width: 300px;
}

.lc_main_zone_device_item{
    width: 300px;
    background-color: #fff;
    border-radius: 20px;
    min-height: 170px;
    padding: 20px;
}

.lc_main_zone_device_item_name_box{
    display: flex;
    align-items: center;

}

.lc_main_zone_device_item_name_box_image{
    width: 38px;
    height: 38px;
    margin-right: 20px;

}

.lc_main_zone_device_item_name_box_image_img{
    width: 38px;
    height: 38px;

}

 .lc_main_zone_device_item_name_box_title{
    font-size: 20px;
    margin-left: 12px;

 }

 .lc_main_zone_device_item_status{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

 }

 .lc_main_zone_device_item_status_circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #5AE4D0;
    margin: 0 9px;

 }

 .lc_main_zone_device_item_status_text{
    font-size: 16px;

 }

 .lc_main_zone_device_item_status_chekbox{
    

 }

 .switch {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 24px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {display:none;}
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .lc_main_zone_device_item_batton_box{
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }

  .lc_main_zone_device_item_batton_a{
    width: 200px;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    text-decoration: none;
    background-color: #353A57;
    border-radius: 20px;
    color: #fff;
  }

  .gray{
    background-color: #d8d8d8;

  }

  .green{
    background-color: #ACFC98;

  }

  .yelow{
    background-color: #FCF298;

  }

  .red{
    background-color: #FC9898;
  }

  .lc_main_zone_device_text_box{
    margin-top: 10px;
    margin-left: 9px;
  }

  .lc_main_zone_device_text_box_p{
    font-size: 14px;
    margin: 0;
  }